src/main/mule/implementation-csv.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="postCsvWithFile" doc:id="e2104da2-bd3e-4ee0-8a73-a79127451484" >
		<ee:transform doc:name="Transform Message" doc:id="7169f29a-6f9a-41eb-adcc-0e7bf6a6e6b6">
				<ee:message>
					<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
read(payload.parts.fileContent.content.^raw, "application/csv",{separator: ";"}) map (item, index) -> {
	name: item.nome,
	surname: item.cognome,
	mail: item.mail,
	address: item.indirizzo
}
	

]]></ee:set-payload>
				</ee:message>
			</ee:transform>
		<http:request method="POST" doc:name="Request" doc:id="15f7e707-3d3d-4ee4-998c-cf1e0d14fc31" path="users" config-ref="HTTP_Request_configuration" />
		<ee:transform doc:name="Transform Message" doc:id="c9be02d9-4f0b-4d70-986c-56e37841e4b4" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message: "Users inserted!"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="getUsers" doc:id="dd7b1142-4f0f-4bf3-a7e8-33d5f8f408a9" >
		<http:request method="GET" doc:name="Request" doc:id="d4872219-b2b8-4e58-b863-673eaea5c644" path="users" outputMimeType="application/json" config-ref="HTTP_Request_configuration">
			<http:query-params ><![CDATA[#[output application/java
---
{
	usersName : attributes.queryParams.usersName default "",
	usersSurname : attributes.queryParams.usersSurname default ""
}]]]></http:query-params>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="49ef20d7-06f2-44e5-8c7d-ddb895729816" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
