src/main/mule/interface-csv.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
    <apikit:config name="test-csv-config" api="user-florence-proc.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
	<error-handler name="interface-csvError_Handler" doc:id="58ef872b-c45c-4b10-bfb6-748d56a5bab3" >
		<on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
		<on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
		<on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
		<on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
		<on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
		<on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
	</error-handler>
	<flow name="test-csv-main">
        <http:listener config-ref="HTTP_Listener_configuration" path="/api/*">
            <ee:repeatable-file-store-stream bufferUnit="MB" />
			<http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="test-csv-config" />
    </flow>
    <flow name="test-csv-console">
        <http:listener config-ref="HTTP_Listener_configuration" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="test-csv-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\users:test-csv-config">
		<flow-ref doc:name="Flow Reference" doc:id="0bbcaa4d-8857-492b-92e9-f18a41b91629" name="getUsers"/>
		<set-variable value="miao" doc:name="Set Variable" doc:id="0d4d82f0-b7ce-47cf-9c23-860ac400fc2a" variableName="bravo"/>
		<ee:transform doc:name="Transform Message" doc:id="c12d318b-0166-42f3-9749-5abad9b314e7" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0

output application/xml
---
item: {(
		payload map (item, key) ->
	user:({
		id: item.id,
		nome: item.name,
		
		cognome: (if(item.surname != null) (item.surname ++ vars.bravo) else (vars.bravo)),
	
		indirizzo: (if(item.address != null) (item.address ++ " " ++ p('address')) else (p('address')))
		})
	)}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<raise-error doc:name="Raise error" doc:id="44d3b71d-a41c-4abb-ae1c-6ce92da2ff4e" type="MULE:CONNECTIVITY" description="Errore Mule"/>
    </flow>
    <flow name="post:\users:multipart\form-data:test-csv-config">
		<flow-ref doc:name="Flow Reference" doc:id="aa8c7c4d-bd4d-4074-9476-402030883538" name="postCsvWithFile"/>
    </flow>
	<sub-flow name="interface-csvSub_Flow" doc:id="f663c92b-6e8b-41fa-9538-45bedd52ea79" >
		<logger level="INFO" doc:name="Logger" doc:id="5e59429f-3180-426f-adce-9a538289dbf5" />
	</sub-flow>
</mule>
